*{
    background-color: rgb(156, 156, 15);
}

.main{
    border: 1px solid black;
    border-radius: 30px;
    text-align: left;
    color: rgb(111, 50, 5);
}

.button{
    display: flex;
    flex-direction: row;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-around;    
}

.button-1{
    display: flex;
    padding: 10px;
    background-color: #f44356;
}

.button-2 {
    display: flex;
    padding: 10px;
    background-color: #4CAF59;
}
