/* below the header */
div.scrollmenu {
  background-color: #fff;
  overflow: auto;
  white-space: nowrap;
  
}

div.scrollmenu a {
  display: inline-block;
  color: #000;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}
div.scrollmenu a#codingEvents{
 background-color: crimson;
 color: #fff;
}

div.scrollmenu a:hover {
  background-color: rgb(231, 25, 25);
  color: #ffff ;
}
/* middle part of the body */
.middle {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: fit-content;
  margin: 0px 15%;
  margin-top: 5vh;
  /* background-color: rgb(207, 141, 19); */
}
.middle img {
  width: 100%;
  height: 20rem;
  margin-bottom: 6%;
  box-shadow: 0 20px 30px 0 rgba(12, 12, 12, 0.3);
}
.bodyStarting h1 {
  font-size: 35px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 2% 2%;
  padding: 3px;
}
.author {
  display: flex;
  justify-content: center;
  padding: 20px;
}
span {
  color: gray;
}
.author span {
  padding: 3px;
  font-size: 13px;
}
.special {
  color: red;
}
.special:hover {
  color: rgb(62, 228, 240);
}

.bodyStarting p {
  margin: 6% 6%;
  line-height: 2;
  font-size: 1.2em; 
}
.number1 {
  display: flex;
  flex-direction: column;
  /* background-color: blueviolet; */
  margin: 0 5%;
  margin-bottom: 15%;
}
.number1 h1 {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 26;
}
.number1 img {
  margin-top: 6%;
}
.number1 p {
  margin: 20px 0px;
  font-size: 1.2em;
  line-height: 2;
}
.number1 h3 {
  margin: 10px 0px;
  font-size: 20px;
}
.number1 ul {
  margin: 1px 0%;
}
.number1 li {
  margin: 10px 0px;
  /* font-size: 20px; */
  list-style: none;
}
.number1 button {
  background-color: crimson;
  padding: 10px;
  margin-top: 20px;
  color: white;
  font-size: 15px;
  width: 100px;
  align-items: center;
 
  /* box-shadow: 0 20px 30px 0 rgba(12, 12, 12, 0.3); */
}
.number1 button:hover {
  background-color: rgb(29, 132, 158);
  
}
/* media quary */
@media (max-width: 1600px) and (min-width: 760px) {
  div.scrollmenu {
    margin: 0 15%;
  }
}

@media screen and (max-width: 759.9px) {
  div.scrollmenu {
    margin: 0;
  }
  .middle {
    margin: 0;
    margin-top: 3vh;
  }
  
}
